<template name="register">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h1 class="logo-name">URUP</h1>
        </div>
        <h3>Register to use URUP Reporting</h3>

        <p>Create account to see it in action.</p>

        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input name="registerName" type="text" class="form-control" placeholder="Name" required="">
            </div>
            <div class="form-group">
                <input name="registerEmail" type="email" class="form-control" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input name="registerPassword" type="password" class="form-control" placeholder="Password" required="">
            </div>
            <div class="form-group">
                <div ><label> <input name="opt_in" class="form-control" type="checkbox"><i> Agree the terms and policy</i>
                </label></div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

            <p class="text-muted text-center">
                <small>Already have an account?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="{{pathFor route='login'}}">Login</a>
        </form>
        <p class="m-t">
            <small>Urup using Inspinia app framework based on Bootstrap 3 &copy; 2016</small>
        </p>
    </div>
</template>
