<template name="rt_leaderboard">

    {{> pageHeading title='Realtime Leaderboard' category='Widget Report' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-12">
              <div class="panel-body">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Leaderboard (top 10)</h5>
                            {{>iboxTools}}
                        </div>
                        <div class="ibox-content">
                          <div class="table-responsive">
                            <table id="rt_leader_grid">
                              {{#each rt_lead}}
                                {{> rt_leader_row}}
                              {{/each}}
                            </table>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  </template>

<template name="rt_leader_row">
  <row>
  <td>{{ leaderboard.list_entries[0].display_name}}</td>
  <td>{{ leaderboard.list_entries[0].best.score_value}}</td>
  <td>{{ leaderboard.list_entries[0].best.score_time}}</td>
  <td>{{ leaderboard.list_entries[0].best.attempt_number}}</td>
</row>
</template>
