<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <!-- <a class="close-canvas-menu"><i class="fa fa-times"></i></a> -->
            <!-- End offCanvas menu toggle -->

            <!-- <ul class="nav" id="side-menu"> -->
                <!-- <li class="nav-header">
                    <div class="logo-element">
                        URUP
                    </div>
                </li>
                <li class="{{isActiveRoute regex='campaigns'}}">
                    <a href="{{pathFor route='campaigns'}}"><i class="fa fa-dashboard"></i> <span class="nav-label">Campaign dashboard</span> </a>
                </li>
                <li class="{{isActiveRoute regex='widgets'}}">
                    <a href="{{pathFor route='widgets'}}"><i class="fa fa-table"></i> <span class="nav-label">Widget Reports</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level collapse {{isActiveRoute regex='widgets|leaderboard|interactions|widget_profiles|participants' className='in'}}">
                        <li class="{{isActiveRoute regex='widgets'}}"><a href="{{pathFor route='widgets'}}">Widgets</a></li>
                        <li class="{{isActiveRoute regex='leaderboard'}}"><a href="{{pathFor route='leaderboard'}}">Leaderboard</a></li>
                        <li class="{{isActiveRoute regex='rt_leaderboard'}}"><a href="{{pathFor route='rt_leaderboard'}}">Realtime Leaderboard</a></li>
                        <li class="{{isActiveRoute regex='widget_profiles'}}"><a href="{{pathFor route='widget_profiles'}}">Widget Profiles</a></li>
                        <li class="{{isActiveRoute regex='participants'}}"><a href="{{pathFor route='participants'}}">Participants</a></li>
                    </ul>
                </li>
            </ul> -->

        </div>
    </nav>
</template>
